:root {
    --white: #FFFFFF;
    --blue-dark-background: #002050;
    --blue-dark: #2571B7;
    --blue-button: #00A4EF;
    --blue-button-hover: #79c2e4;
    --gray-text: #737373;
    --orange-text: #F25022;
    --white-text: #FFFFFF;
}

/* ---------------- FORMAT (<p></p>) ---------------- */
p {    
    font-size: 1.1rem;
    color: var(--gray-text);
    line-height: 1.8;
    text-align: center;
}

/* ---------------- FORMAT TITLE ---------------- */
p.titles__sections{
    font-size: 1.7rem;
    color: var(--blue-dark);
    text-align: center;
}

/* ---------------- CONTAINER FATHER ---------------- */
.main {
    padding: 0 1.5rem;
}


/* ---------------- HEADER ---------------- */
.header {
    width: 100vw;
    height: 50px;
    position: fixed;

    background-color: var(--blue-dark);
}

.header__navbar {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header__navbar__hamburguer {
    font-size: 2.2rem;
    margin-left: 0.2rem;
    margin-bottom: 0.3rem;
    padding: 0.4rem;

    color: var(--white);
}

.header__navbar__logo {
    padding: 0.5rem 1.2rem;
    margin-right: 1rem;
    background-color: var(--blue-dark-background);

    color: var(--white);
}

/* ---------------- HOME ---------------- */
.home {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: url("../imgs/Grupo\ 52.png") no-repeat center;
    color: var(--white);
    
    text-align: center;
}

.home h1 {
    margin-bottom: 2.5rem;
    font-size: 2.6rem;
}

.home h2 {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
}

.home a {
    margin-top: 2rem;
    padding: 0.8rem 2.1rem;

    background-color: var(--blue-button);
    color: var(--white);

    font-size: 1.4rem;
}

.home__logo {
    position: absolute;
    bottom: 2rem;
}

.home__logo img {
    width: 80%;
}

/* ---------------- DESCRIPTION ---------------- */
.description {
    padding: 3.5rem 0 2.8rem 0;
    
    display: flex;
    align-items:center;
    flex-direction: column;
}

.description p:first-child{
    margin-bottom: 1rem;
}


/* ---------------- MARK ---------------- */
.mark__title {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.mark__title p:last-child {
    margin-top: 1rem;
    max-width: 90%;
}

.mark__content {

}

/* ---------------- MARK CARD ---------------- */
.mark__card {
    height: 10rem;
    padding: 1rem;
    margin: 1.5rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 2px;

    background-color:#0072C6;
    color: white;
}

.mark__card__content {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.mark__card__title {
    margin: 0.5rem 0;
    font-size: 1.3rem;
}

.mark__card__description {
    color: white;
    text-align: start;
    font-size: 0.9rem;
}




.card__00 {
    background-color: #0072C6;
}

.card__01 {
    background-color: #2C5898;
}

.card__02 {
    background-color: #207245;
}

.card__03 {
    background-color: #CB4A32;
}

.card__04 {
    background-color: #733781;
}

.card__05 {
    background-color:#00AFF0;
}