:root {
    --white: #FFFFFF;
    --blue-dark-background: #002050;
    --blue-dark: #2571B7;
    --blue-button: #00A4EF;
    --blue-button-hover: #79c2e4;
    --gray-text: #737373;
    --orange-text: #F25022;
    --white-text: #FFFFFF;
    --line-afterbefore: #DEDEDE;
}

/* ---------------- FORMAT (<p></p>) ---------------- */
body {    
    color: var(--gray-text);

    line-height: 1.8;
    text-align: center;
}

/* ---------------- FORMAT TITLE ---------------- */
p.titles__sections{
    color: var(--blue-dark);

    font-size: 1.7rem;
    font-weight: 600;
}

/* ---------------- CONTAINER FATHER ---------------- */
.main {
    width: 85vw;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------------- HEADER ---------------- */
.header {
    width: 100vw;
    height: 50px;

    position: fixed;
    z-index: 2;

    background-color: var(--blue-dark);
}

.header__navbar {
    height: 100%;
    width: 85vw;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header__navbar__hamburguer {
    margin-bottom: 0.3rem;

    color: var(--white);

    font-size: 2.2rem;
}

#header__navbar__logo {
    padding: 0.2rem 1.2rem;
    
    background-color: var(--blue-dark-background);
    color: var(--white);
}

/* ---------------- HOME ---------------- */
.home {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: url("../imgs/Grupo\ 52.png") no-repeat center;
    background-size:cover;
    color: var(--white);
    
    text-align: center;
}

    .home__content h1 {
        margin-bottom: 1rem;
        font-size: 2.6rem;
    }

    .home__content h2 {
        margin: 0 0 5rem;

        font-size: 1.5rem;
        font-weight: 300;
        letter-spacing: 0.1rem;
        line-height: 2.5rem;
    }

    .home__content a {
        margin-top: 4rem;
        padding: 0.7rem 2.3rem;

        background-color: var(--blue-button);
        color: var(--white);

        font-size: 1.4rem;
    }

.home__logo {
    width: 100%;

    position: absolute;
    bottom: 2rem;
}

    .home__logo img {
        width: 10rem;
        
        margin: 0 auto;
    }

/* ---------------- ABOUT ---------------- */
.about {
    margin: 0 auto;
    padding: 4.5rem 0 2.0rem 0;
}

.about p:first-child{
    margin-bottom: 1rem;
}

/* ---------------- MARK ---------------- */
.mark {
    width:100%;
    margin-bottom: 3.5rem;
}

.mark__card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mark__description {
    margin: 1.5rem;
}

/* ---------------- MARK CARD ---------------- */
.mark__card {
    margin: 0.8rem 0;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content:center;

    border-radius: 2px;

    color: var(--white);
}

.display__none {
    display: none;
}

.mark__card__content {
    margin-left: 0.8rem;

    display: flex;
    flex-direction: column;
}

.mark__card__title {
    margin-bottom: 0.3rem;

    font-size: 1.3rem;
    font-weight: 600;
    text-align: start;
}

.mark__card__description {
    text-align: start;
    font-size: 0.9rem;
}

/* ---------------- MARK CARD BACKGROUND---------------- */
.card__00 {
    background-color: #0072C6;
}

.card__01 {
    background-color: #2C5898;
}

.card__02 {
    background-color: #207245;
}

.card__03 {
    background-color: #CB4A32;
}

.card__04 {
    background-color: #733781;
}

.card__05 {
    background-color:#00AFF0;
}

.card__06 {
    background-color:#094AB2;
}

.card__07 {
    background-color:#0073C6;
}

.card__08 {
    background-color:#0093BE;
}

.card__09 {
    background-color:#5558AF;
}


/* ---------------- SERVICES---------------- */
.services__card {
    margin: 2rem 0;

    display: flex;
}

.services__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: start;
}

    .services__content > a {
        width: 7rem;

        padding: 0.3rem 0.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
        
        border-radius: 2px;
        border: 2px solid currentColor;
    }

.services__card__title {
    font-size: 1.1rem;
    font-weight: 600;
}

.services__card__description {
    margin: 1.8rem 0;

    font-size: 0.9rem;
    line-height: 1.4;
}

/* ---------------- SERVICES CARD TEXT COLOR ---------------- */

.card__0 .services__card__title,
.card__0 a{
    color: #7FBA00;
}

.card__1 .services__card__title,
.card__1 a{
    color: #00A4EF;
}

.card__2 .services__card__title,
.card__2 a{
    color: #FFB900;
}

/* ---------------- DIFFERENTIALS ---------------- */
.differentials {
    width: 100%;
}
    .differentials > p {
        margin: 2rem 0 3.5rem 0;
}
.differentials__border {
    border: 3px solid var(--line-afterbefore);
}

.differentials__card:nth-child(n+1):nth-child(n+2):before {
    height: 3px;
    width: 100%;

    display: block;
    content: '';

    background-color:var(--line-afterbefore);
}

.differentials__card__title {
    margin: 1.3rem;

    color: #F25022;

    font-weight: 600;
}

.differentials__card__description {
    width: 90%;

    margin: 0 auto;
    margin-bottom: 1.5rem ;

    font-size: 0.9rem;
}

/* ---------------- COMMUNITY ---------------- */
.community {
    width: 100vw;
    margin: 3rem 0;

    background: url("../imgs/Grupo\ 89.png") no-repeat center;
    background-size: cover;
}

    .community p {
        margin: 4rem auto;

        color: var(--white);

        font-size: 1.6rem;
        line-height: 1.6;
    }

/* ---------------- FOOTER ---------------- */
.footer {
    width: 100%;

    margin: 2rem 0;
    padding: 1rem;

    background-color: #E6E6E6;

    text-align: start;
}

form input {
    width: 100%;
    height:45px;

    margin-bottom: 1.5rem;

    outline: 0;
}

form input:focus {
    border: 2px solid var(--blue-dark);
}

form input {
    padding: 0 1rem;

    color: var(--gray-text);
}

form label {
    font-size: 0.9rem;
}

form button {
    width:100%;

    margin-top: 2rem;
    padding: 0.9rem 0;

    background-color: var(--blue-button);
    color: var(--white);

    font-size: 1.8rem;
}

/* DESKTOP */
@media screen and  (min-width: 768px) {
     .display__none {
        display: flex;
    }
    
    .container {
        width: 85vw;
        max-width: 1200;
    }

    .main {
        max-width: 1200px;
    }

    /* ---------------- HEADER ---------------- */
    .header {
        z-index: 2;
    }
    
    .header__navbar {
        max-width: 1200px;       
    }

    .header__navbar__hamburguer {
        display: none;
    }   

    .navbar__logo  {
        width: 100px;

        display: flex;
    }
    
    .header__navbar__desktop {
        display: flex;
        flex-direction:row;
    }

        .header__navbar__desktop a {
            margin-right: 3rem;
            padding: 0;

            display: flex;
            
            color: var(--white);
        }

    #header__navbar__logo {
        margin: 0 0 0 1.5rem;
    }

    /* ---------------- HOME PAGE ---------------- */
    .home {
        text-align: start;
    }

    .home__content {
        width: 85%;
        max-width:1200px;
    }

        .home__content > h1 {
            margin: 0;

            font-size: 5rem;
        }

        .home__content > h2 {
            margin: 1rem 0 5rem 0;
        }

    .home__logo {
        display: flex;
    }

    /* ---------------- ABOUT ---------------- */
    .text__about {
        color: #F25022;

        font-weight: 600;
    }

    /* ---------------- MARK CARDS ---------------- */
    .mark__card__container {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    .mark__card__display {
        display: flex;
    }

    /* ---------------- SERVICES CARDS ---------------- */
    .services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3rem;
    }

    .services__card {
        flex-direction: column;
    }

        .services__card img {
            width: 8rem;
            margin: 1rem auto;
            order: 1;
        }
    
    .services__content {
        text-align: center;
        order: 2;
    }
    
        .services__content a {
            margin: 0 auto;
        }
    
    .services__card__description {
        margin: 0 0 1.5rem 0;
    }

    .services__card__title::after {
        content: '';
        display: block;
        height: 3px;
        width: 80px;
        margin: 1.5rem auto;
        background-color:var(--line-afterbefore);
    }

    /* ---------------- DIFFERENTIALS ---------------- */
    .differentials__card:nth-child(n+1):nth-child(n+2):before {
        height: 100%;
        width: 3px;

        display: grid;
        position: absolute;

        background-color: var(--line-afterbefore);

        content: '';
    }

    .differentials__border {
        display: grid;
        position: relative;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .community p {
        width: 85vw;
        max-width: 1200px;

        font-size: 2.5rem;
    }

    .footer {
        max-width: 564px;
        padding: 2rem;
    }

    /* BUTTON */
    #header__navbar__logo:hover {
        background: #00388b;
        transition: all 0.2s;
    }

    .home__content a:hover {
        background: #2571B7;
        transition: all 0.2s;
    }

    .services__card:nth-child(1) .services__content > a:hover {
        color: var(--white);
        background: #7FBA00;
        transition: all 0.2s;
    }

    .services__card:nth-child(2) .services__content > a:hover {
        color: var(--white);
        background: #00A4EF;
        transition: all 0.2s;
    }

    .services__card:nth-child(3) .services__content > a:hover {
        color: var(--white);
        background: #FFB900;
        transition: all 0.2s;
    }

    form button:hover {
        background: #2571B7;
    }

}